@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 212 42% 96%;
    --foreground: 212 44% 20%;

    --card: 212 42% 96%;
    --card-foreground: 212 44% 20%;

    --popover: 212 42% 96%;
    --popover-foreground: 212 44% 20%;

    --primary: 212 44% 19%;
    --primary-foreground: 212 42% 96%;

    --secondary: 242 52% 90%;
    --secondary-foreground: 212 44% 20%;

    --muted: 242 42% 90%;
    --muted-foreground: 212 5% 37%;

    --accent: 272 52% 88%;
    --accent-foreground: 272 52% 20%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --border: 242 32% 91%;
    --input: 242 32% 91%;
    --ring: 212 44% 19%;

    --radius: 0.75rem;

    --sidebar-background: 212 42% 96%;

    --sidebar-foreground: 212 44% 25%;

    --sidebar-primary: 212 44% 19%;

    --sidebar-primary-foreground: 212 42% 96%;

    --sidebar-accent: 242 52% 90%;

    --sidebar-accent-foreground: 212 44% 20%;

    --sidebar-border: 242 32% 91%;

    --sidebar-ring: 242 22% 75%;

    --chart-1: 212 58% 39%;

    --chart-2: 242 76% 61%;

    --chart-3: 272 37% 24%;

    --chart-4: 302 74% 66%;

    --chart-5: 332 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 212 0% 13%;
    --foreground: 212 24% 70%;

    --card: 212 0% 11%;
    --card-foreground: 212 24% 70%;

    --popover: 212 0% 13%;
    --popover-foreground: 212 24% 70%;

    --primary: 212 24% 88%;
    --primary-foreground: 212 0% 13%;

    --secondary: 242 22% 17%;
    --secondary-foreground: 212 24% 70%;

    --muted: 242 17% 17%;
    --muted-foreground: 242 22% 75%;

    --accent: 272 12% 23%;
    --accent-foreground: 272 52% 71%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --border: 242 17% 17%;
    --input: 242 12% 25%;
    --ring: 242 22% 83%;
    --sidebar-background: 212 0% 13%;
    --sidebar-foreground: 242 52% 95%;
    --sidebar-primary: 272 52% 55%;
    --sidebar-primary-foreground: 212 24% 70%;
    --sidebar-accent: 242 17% 17%;
    --sidebar-accent-foreground: 242 52% 95%;
    --sidebar-border: 242 17% 17%;
    --sidebar-ring: 242 22% 83%;
    --chart-1: 212 70% 50%;
    --chart-2: 332 75% 55%;
    --chart-3: 242 80% 55%;
    --chart-4: 132 65% 60%;
    --chart-5: 12 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}